[submodule "build/arduino-mk"]
	path = build/arduino-mk
	url = https://github.com/littlebee/arduino-mk
[submodule "ArduPic32"]
	path = ArduPic32
	url = https://github.com/rsenn/ArduPic32.git
[submodule "Integrated-Component-Tester"]
	path = Integrated-Component-Tester
	url = https://github.com/tigerw/Integrated-Component-Tester-Arduino
[submodule "Base-Ohm-meter"]
	path = Base-Ohm-meter
	url = https://github.com/skndungu/Arduino-Base-Ohm-meter
[submodule "Ohmmeter"]
	path = Ohmmeter
	url = https://github.com/acchavanabhi/Ohmmeter
[submodule "libraries/arduino-leonardo-joystick"]
	path = libraries/arduino-leonardo-joystick
	url = https://github.com/auron-muc/arduino-leonardo-joystick.git
[submodule "libraries/TimerThree"]
	path = libraries/TimerThree
	url = https://github.com/PaulStoffregen/TimerThree.git
[submodule "libraries/TimerTwo"]
	path = libraries/TimerTwo
	url = https://github.com/theAndreas/TimerTwo.git
